html,
body,
header,
main,
footer,
h1, h2, h3, p {
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 55px;
	color: #fff;
}

h2 {
	color: #fff;`
	font-size: 40px;
}

header {
	height: 800px;
	padding-top: 0;
}


.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.container.all {
	height: 100%;
	max-height: 1200px;
	background: url('../IMG/bg_nature.jpg') center -100px no-repeat;
	width: 100%;
	max-width: 1920px;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.main:after {
    clear: both;
}

.container,
.group,
.main {
    *zoom: 1;
}

.nav {
	padding-top: 15px;
	padding-right: 15%;
	text-align: center;
}

.navigation {


}

.nav li {
	padding-bottom: 20px;
}

.nav a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	filter: blur(0px);

}

.nav a:hover,
.nav a:focus {
	/*color: #000;*/
	filter: blur(1px);
}

.menu {
	width: 140px;
	display: inline-block;
}



.hook {
	width: 34%;
	min-width: 200px;
	max-width: 600px;
	max-height: 90px;
	margin-top: 200px;
	margin-left: 100px;
	padding-top: 65px;
	padding-left: 60px;
	margin-bottom: -20px;
	background: #fff;
	background: rgba(255, 255, 255, 0.3);
}

.inner {
  	width: 34%;
  	min-width: 220px;
  	max-width: 620px;
  	height: 100px;
  	position: absolute;
  	border: 5px solid #fff;
  	margin-top: -20px;
  	margin-left: -20px;
  	padding-right: 40px;
  	padding-bottom: 65px;
  	z-index:10;
  }


.float-right {
	float: right;
}